JWT_SECRET=your_jwt_secret_here
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

PORT=3333
FRONTEND_URL=https://your-frontend-render-url.onrender.com 
BACKEND_URL=https://your-backend-render-url.onrender.com
JWT_EXPIRES_IN=7d
GOOGLE_CALLBACK_URL=https://your-backend-render-url.onrender.com/auth/google/callback

EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
FRONTEND_URL=http://localhost:4173